* {
  list-style: none;
}
.title, h4 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
}
@media (min-width: 375px) {
  .title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 3.3rem;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 4rem;
  }
}



