.dropdown-menu li a{
  color: #000 !important;
}
@mixin object_shadow ($green, $x:0 , $y: 5px, $blur: 16px, $spread:3px) {
  transition: all 0.4s;
  &:hover {
    box-shadow: rgba(255, $green, 0, 0.8) $x $y $blur $spread;
  }
}
.img_logo {
  @include object_shadow(200, 0, 5px, 10px, 2px);
}
.img_tag {
  @include object_shadow(160);
}
.bi-arrow-left {
  &:before{
    animation: move_left 0.5s infinite alternate ease-in-out;
  }
}

@keyframes move_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
.btn-primary {
   filter: brightness(110%);
  transition: all 0.3s !important;
  &:hover{
    filter: brightness(90%);
  }
}
.btn_hover {
  opacity: 0.7 !important;
  transition: all 0.3s !important;
  &:hover{
    opacity: 1 !important;
    filter: brightness(115%) !important;
  }
}